﻿@page "/"
@using Application.Services.Interfaces
@using Domain.Entities
@using Infrastructure.Models
@inject IQuestionaireService QuestionaireService

<h1>Hello!</h1>


<h2>Welcome to question app</h2>

<label>Введите имя</label>
<input @bind-value="name" @bind-value:event="oninput" type="text" class="input-group-text" />
<label>Введите возраст</label>
<input @bind-value="age" @bind-value:event="oninput" type="number" class="input-group-text" />
<label>Введите пол</label>
<input @bind-value="gender" @bind-value:event="oninput" class="input-group-text" />
<label>Введите дату рождения</label>
<input @bind-value="dateBorn" @bind-value:event="oninput" type="date" class="input-group-text" />
<label>Введите семейное положение</label>
<input @bind-value="familyStatus" @bind-value:event="oninput" class="input-group-text" />
<label>Любите ли вы программировать</label>
<input @bind-value="isLikeProgramming" @bind-value:event="oninput" type="checkbox" class="input-group-text" style="margin-bottom:5px;"/>

<button class="btn btn-primary" @onclick="SaveQuestions">Save</button>

@code {
    IEnumerable<Question> questions;
    string name;
    int age;
    int gender;
    DateTime dateBorn;
    int familyStatus;
    bool isLikeProgramming;


    void SaveQuestions()
    {
        List<AnswerViewModel> answers = new List<AnswerViewModel>();
        answers.Add(new AnswerViewModel() { Answer = name, QuestionId = 1 });
        answers.Add(new AnswerViewModel() { Answer = age.ToString(), QuestionId = 2 });
        answers.Add(new AnswerViewModel() { Answer = gender.ToString(), QuestionId = 3 });
        answers.Add(new AnswerViewModel() { Answer = dateBorn.ToString(), QuestionId = 4 });
        answers.Add(new AnswerViewModel() { Answer = familyStatus.ToString(), QuestionId = 5 });
        answers.Add(new AnswerViewModel() { Answer = isLikeProgramming.ToString(), QuestionId = 6 });
        QuestionaireService.SaveAnsersAsync(answers);
    }
}